* {
  font-family: "Poppins", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* AGREGUE */
section {
  position: relative;
  overflow: hidden;
}

.header__container {
  max-width: 1070px;
  margin: auto;
  /* AGREGUE */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 200px 20px;
}

.contenedorVideo {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  /* AGREGUE : */
  top: 0;
  left: 0;
}

/* AGREGUE */
.contenedorVideo img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  object-position: center center;
}

.contenedorVideo .videoHome {
  min-width: 100%;
  min-height: 100%;
  display: none;
}

.header-overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  /* CAMBIE EL 1 POR EL 0 */
  z-index: 0;
  opacity: 0.77;
}

.containerTextoHome {
  /* position: absolute;
  z-index: 2;
  top: 30%;
  width: 44%;
  font-size: 22px; */
  /* AGREGUE ESTO */
  text-align: center;
}

.comenzarBtn {
  text-decoration: none;
  margin-right: 23px;
  padding: 14px 40px 14px 40px;
  background: #ffffff;
  border: 2px solid #ad4827;
  border-radius: 7px;
  color: #ad4827;
  cursor: pointer;
  outline: none;
  transition: 0.2s all;

}

.comenzarBtn:hover {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px #ffffff50;
  /* Lowering the shadow */
}

.sobreNosotrosBtn {
  /* margin-right: 52px; */
  padding: 14px 23px 14px 23px;
  background: #ad4827;
  border: 2px solid #ad4827;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}

.sobreNosotrosBtn:hover {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px #ffffff50;
  /* Lowering the shadow */
}

.subtitulo {
  color: #FF7549;
  font-size: 10px;
  line-height: 15px;
}

.subtituloInferior {
  font-weight: 700;
  color: white;
  font-size: 30px;
  line-height: 45px;
}

.containerSubtitulos hr {
  width: 225px;
  margin: auto;
  border: 4px solid #FF7F56;
  border-radius: 14px;
}

.textoHome {
  padding-bottom: 50px;
  color: white;
  font-size: 17px;
  padding-top: 30px;
}

a { color: inherit; } 

/* 
Todavía no se definen propiedades útiles
.containerBotonesSubtitulos {
  display: flex;
  justify-content: flex-start;
} */



/* @media (min-width: 767px){
  .containerBuscador {
    width: 46%;
    background: #FF7F56;
    padding-top: 20px;
    border-radius: 9px;
    display: flex;
    margin-top: 90px;
  }
} */

@media(min-width: 1024px) {
  .subtitulo {
    font-size: 15px;
  }

  .subtituloInferior {
    font-size: 47px;
    line-height: 90px;
    padding-bottom: 40px;
  }

  .subtituloInferior span {
    border-bottom: 7px solid #FF7F56;
    border-radius: 3px;
  }
  /* .containerBuscador{
    width: 46%;
  } */
  .containerSubtitulos hr{
    display: none;
  }
  .contenedorVideo img{
    display: none;
  }
  .contenedorVideo .videoHome {
    display: flex;
  }
  
}
@media(min-width: 1280px){
  .containerTextoHome{
    text-align: left;
  }
  .textoHome{
    text-align: left;
    margin-top: -20px;
    width: 65%;
  }
  .subtituloInferior{
    font-size: 47px;
  }
  .containerBuscador{
    width: 100%;
    display: flex;
    margin-top: 20%;
    /* justify-content: space-evenly; */
  }
  .map{
    width: 26px;
  }
  .search{
    width: 12%;
    margin-bottom: 6px;
  }
  .basket{
    width: 7%;
  }
  .deporte{
    width: 89%;
  }
  .calendario{
    width: 88%;
    margin-right: 17px;
  }
  .containerBuscador div{
    width: 42%;
  }
  .containerBuscador input{
    padding-top: 0px;
  }
}