.filter{
    width: 80%;
    max-width: 950px;
    height: 70px;
    background-color: #FF7F56;
    margin: auto;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    position: absolute;
    top: 80%;
    right: 15%;
    z-index: 2;
}

.container__filter__inputs{
    background: #D9D9D9;
    height: 75%;
    width: 90%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 15px;
}

.container__filter__inputs > label{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}

.container__filter__inputs > label > img{
    width: 25px;
}

.container__filter__inputs > label > input{
    background: none;
    border: none;
    border-bottom: 3px solid #FF7F56;
    padding: 5px;
}


.filter > button{
    width: 10%;
    border: none;
    height: 100%;
    background: none;
}