
.imgError{
    width: 700px;
}
.section_error{
    text-align: center;
    min-height: 70vh;
}
.containerError{
    padding-top: 80px;
    padding-bottom: 120px;
}
.containerTitle{
    text-align: center;
    font-size: 32px;
    padding-bottom: 100px;
}