.contenedor-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1050px;
  margin: auto;
}

.contenedor-descripcion {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
}

.icono-descripcion {
  width: 36px;
  height: 36px;
}

.titulo-descripcion {
  font-weight: 600;
  font-size: 40px;
  line-height: 90px;
  align-self: flex-start;
  color: #121212;
}

.contenedor-carta {
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.25);
}

.vector {
  width: 100%;
  height: 5px;
  background-color: #ff7f56;
  border-radius: 30px;
}

.parrafo {
  text-align: center;
  padding: 5px;
}
