.containerProfilePic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profilePic {
  width: 45%;
  z-index: 1;
}
.containerData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.user {
  margin: 20px 0px;
  text-align: center;
}
.born {
  display: flex;
  align-items: center;
  gap: 10px;
}
.gmail {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sport {
  display: flex;
  align-items: center;
  gap: 10px;
}
.courts {
  display: flex;
  align-items: center;
  gap: 10px;
}
.containerData div {
  margin-bottom: 20px;
}
