.contenedor-principal-nosotros {
  align-items: center;
  justify-content: center;
  max-width: 1050px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.parrafo-nosotros {
  text-align: justify;
  padding: 5px 100px 5px 0px;

}

.nosotros-container {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  padding-top: 20px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 1050px;
  margin: auto;
}

.nosotros-item:nth-child(1) {
  width: 100%;
  order: 0;
  flex: 0 1 auto;
  align-self:center;
  display: flex;
  align-content: center;
  justify-content: center;
}

.nosotros-item:nth-child(2) {
  width: 100%;
  order: 0;
  flex: 0 1 auto;
  align-self: center;
}

.titulo-nosotros {
  font-weight: 600;
  font-size: 40px;
  line-height: 90px;
  align-self: center;
  color: #121212;
}

.subtitulo-nosotros {
  font-size: 40px;
  font-weight: 600;
  font-family: inherit;
  color: #000;
  margin: 10px 0px 15px;
}
.subtitulo-nosotros-2 {
  top: 582px;
  left: 874px;
  font-size: 15px;
  font-weight: 600;
  font-family: inherit;
  color: #ff7f56;
}

.img-nosotros {
  width: 70%;
}

@media screen and (max-width: 768px){
  .nosotros-container{
    grid-template-columns: 100%;
  }
  .subtitulo-nosotros{
    display: none;
  }
  .subtitulo-nosotros-2{
    display: none;
  }

  .parrafo-nosotros{
    padding: 20px ;
  }
}