.nav-main{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
z-index: 100;
}
.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  padding: 25px 0px ;
  width: 100%;
  max-width: 1070px;
}
.logo {
  width: 50px;
}
.menuNavegacion .nav {

  color: #ffffff;
  text-decoration: none;
}
.menuNavegacion{
    height: 100%;
    margin-left: 30px;
    display: flex;
    flex: none;
    align-items: center;
    gap: 25px;
}

.containerBtn {
  display: flex;
  justify-content: flex-end;
}
.inicioSesion {
  margin-right: 23px;
  padding: 14px 15px 14px 15px;
  background: #ffffff;
  border: 2px solid #ad4827;
  border-radius: 7px;
  color: #ad4827;
}
.registrarse {
  /* margin-right: 52px; */
  padding: 14px 20px 14px 20px;
  background: #AD4827;
  border: 2px solid #ad4827;
  border-radius: 7px;
  color: white;
}
