.backdrop_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal__container {
  width: 890px;
  height: auto;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: repeat(2, 1fr);
}

.images__cancha img {
  width: 100%;
  height: 100%;
  min-height: 500px;
}

.cancha__data {
  width: 100%;
  height: calc(100% - 5px);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  padding: 50px 20px 30px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  border: none;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}

.close > img {
  width: 25px;
}

.cancha__data__part1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px 20px;
}

.cancha__data__part1 > h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #000000;
}

.cancha__data__part1 > button {
  background-color: #ff7f56;
  color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 20px;
}

.cancha__data > h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #ff7f56;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.cancha__data > h3 > img {
  width: 18px;
}

.cancha__data > h2 {
  font-weight: 600;
  font-size: 25px;
  color: #121212;
  margin-top: 10px;
}

.cancha__data > h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #121212;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  margin: 10px 0px;
}

.cancha__data > h4 > img {
  width: 16px;
}

.cancha__data > p {
  font-weight: 500;
  font-size: 16px;
  color: #646464;
}

.owner__information {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 0px;
  padding: 0px 20px;
}

.owner__information__text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.owner__information__text > img {
  width: 70px;
}

.owner__information__text h5 {
  font-weight: 400;
  font-size: 17px;
  line-height: 35px;
  color: #646464;
}

.owner__information__text h4 {
  font-weight: 500;
  font-size: 17px;
  color: #000000;
}

@media (max-width: 860px) {
  .backdrop_modal {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal__container {
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    height: 90vh;
  }

  .images__cancha{
    width: 100%;
    height: 200px;
  }

  .images__cancha img {
    width: 100%;
    height: 100%;
  }

  .cancha__data {
    padding: 0px;
  }


  .close {
    top: 0px;
    right: 0px;
  }
  
  .close > img {
    width: 25px;
  }
  
  .cancha__data{
    margin-top: 20px;
    padding: 40px 0px 0px;
  }
  .cancha__data__part1 {
    margin: 0px;
  }
  
  .cancha__data__part1 > h3 {
    font-size: 15px;
  }
  
  .cancha__data__part1 > button {
    font-size: 13px;
    padding: 5px 10px;
  }
  
  .cancha__data > h3 {
    font-size: 15px;
    line-height: normal;
  }
  
  .cancha__data > h3 > img {
    width: 15px;
  }
  
  .cancha__data > h2 {
    font-size: 18px;
  }
  
  .cancha__data > h4 {
    font-size: 11px;
    line-height: normal;
  }
  
  .cancha__data > h4 > img {
    width: 11px;
  }
  
  .cancha__data > p {
    font-size: 13px;
  }
  
  .owner__information {
    bottom: 10px;
    padding: 0px 10px;
  }
  
  .owner__information__text {
    gap: 10px;
  }
  
  .owner__information__text > img {
    width: 40px;
  }
  
  .owner__information__text h5 {
    font-size: 13px;
    line-height: 25px;
  }
  
  .owner__information__text h4 {
    font-size: 12px;
  }
  
}